
 

<!-- Toolbar -->
<!-- <div class="app-header" role="banner">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <span>{{ title }}</span>
  <div class="container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  
  <script>
  function myFunction(x) {
    x.classList.toggle("change");
  }
  </script>
</div> -->
<!-- <div class="content" role="main"> -->

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">

    <span>{{ title }}</span>

  </div> -->

  <!-- Resources
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p> -->
  <!-- <mat-card>Simple card</mat-card> -->

  <!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list> -->
<!-- <mat-card> <div class='card-main'> -->
  <!-- <div class='card-main'> -->
  <mat-grid-list class= 'card-main' cols="2" rowHeight="4:1" >  
    <!-- <div class="card-container" > -->
    <mat-grid-tile class="card-container">
      <button class="card btn btn-primary" style="text-align: center;" (click)="clickEvent(objects[0])" routerLinkActive='active' [routerLink]="['/welcome']" >
        <p class="title-obj" >{{objects[0].titlename}}
          <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
        </p>
      </button>
    </mat-grid-tile>
  <!-- </div> -->
    <div class="card-container" style="text-align: center; margin: auto; display: flex;" >
    <mat-grid-tile>
      <button class="card btn btn-primary" routerLinkActive='active' (click)="clickEvent(objects[1])" [routerLink]="['/seatmanagement']" >
        <p class="title-obj" >{{objects[1].titlename}}
          <!-- <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon> -->
        </p>
      </button>
    </mat-grid-tile>
  </div>
    <div class="card-container" >
    <mat-grid-tile>
      <button class="card btn btn-primary" (click)="clickEvent(objects[2])" routerLinkActive='active' [routerLink]="['/directives']" >
        <p class="title-obj" >{{objects[2].titlename}}
          <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
        </p>
      </button>
    </mat-grid-tile>
  </div>
    <div class="card-container" >
    <mat-grid-tile>
      <button class="card btn btn-primary" (click)="clickEvent(objects[3])" routerLinkActive='active' [routerLink]="['/placeholder2']" >
        <p class="title-obj" >{{objects[3].titlename}}
          <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
        </p>
      </button>
    </mat-grid-tile>
  </div>
  </mat-grid-list>
<!-- </div> -->


  <!-- <div class="row">
   <div class="card-container" (click)="clickEvent(objects[0])" routerLinkActive='active' [routerLink]="['/welcome']">
      <div class="col-md">
          <button class="card btn btn-primary" >  
                <div class="imageClass">
                  <p class="title-obj" >{{objects[0].titlename}}
                    <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
                  </p>
                    
                </div>
          </button>
        </div>
      </div>  
   

    <div class="card-container" routerLinkActive='active' (click)="clickEvent(objects[1])" [routerLink]="['/seatmanagement']">
      <div class="col-md">
          <button class="card btn btn-primary">
              <div class="imageClass">
                  <p class="title-obj">{{objects[1].titlename}}</p>
                    <img [src]="objects[1].imageUrl" class="imgSize"/>
              </div>
          </button>
        </div>
      </div> 
    </div>  

    <div class="row">
      <div class="card-container" (click)="clickEvent(objects[2])" routerLinkActive='active' [routerLink]="['/placeholder1']">
         <div class="col-md">
             <button class="card btn btn-primary" >  
                   <div class="imageClass">
                     <p class="title-obj" >{{objects[2].titlename}}</p>
                       <img [src]="objects[2].imageUrl" class="imgSize"/>
                   </div>
             </button>
           </div>
         </div>  
      
   
       <div class="card-container" (click)="clickEvent(objects[3])" routerLinkActive='active' [routerLink]="['/placeholder2']">
         <div class="col-md">
             <button class="card btn btn-primary">
                 <div class="imageClass">
                     <p class="title-obj">{{objects[3].titlename}}</p>
                       <img [src]="objects[3].imageUrl" class="imgSize"/>
                 </div>
             </button>
           </div>
         </div> 
       </div> -->
      <!-- </div>
    </mat-card> -->
    <!-- <div (click)="navigateTo(objects[1])" class="title-style"> -->
    <!-- <div class="card-container"  ></div>
    <button class="card btn btn-primary" (click)="onClick()">
      <span>Seat Management</span>
      
    </button> -->

    <!-- <div class="card-container"  ></div>
    <button class="card btn btn-primary" (click)="onClick()">
      <span>Place Holder #1</span>
      
    </button>

    <div class="card-container"  ></div>
    <button class="card btn btn-primary" (click)="onClick()">
      <span>Place Holder #2</span>
      
    </button> -->

    <!-- <a class="card" target="_blank" rel="noopener" href="">
      <span>Seat Management</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="">
      <span>Place Holder #1</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="">
      <span>Place Holder #2</span>
    </a> -->

    <!-- <button class= "btn btn-primary" (click)="onClick()">Click me!</button> -->

  

  
 
  <!-- Next Steps -->
  <!-- <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>New Component</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Angular Material</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Add PWA Support</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Add Dependency</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Run and Watch Tests</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Build for Production</span>
    </div>
  </div>

  <!-- Terminal -->
  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> -->



<!-- <router-outlet></router-outlet> -->