<!-- <p>map-page works!</p> -->
<div class='card'>
  <mat-card> <div class='card-header'>
    {{pageTitle}} </div>
  </mat-card>

  <mat-card> <span class='card-details' style="overflow: hidden">
    <div class='card-plotting-details' style="float: left">Plotted: </div>
    <div class='card-assigned-details' style="float: middle">Assigned: </div>
    <!-- <div class='card-available-details'style="float: right">Available: </div> -->
  </span>
  </mat-card>
  <!-- <div class="card"> -->
    <!-- <div class="card-body">
      <div class="container-fluid"> -->
    <!-- <div class="text-center"> -->
    <img src="./assets/images/floorplan.jpg" class="img-responsive center-block"
      style="max-height:400px;padding-bottom:50px;width:800px" />
  </div>
<!-- </div> -->

<!-- <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Wells Fargo</h3>
        </div>
  
        <div class="text-center"></div>
        <div class="text-center">
          <a href="https://www.wellsfargo.com/">https://www.wellsfargo.com/</a>
        </div>
      </div> -->
<!-- </div> -->
<!-- </div> -->