
  .card {
    padding-top: 4%;
    align-content: center;  
    text-align: center;
  }


  .card-header {
    font-size: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .back-btn {
    height: 35px;
    width: 35px;
    color: red;
    background-attachment: relative;
    background-color: red;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    padding-top: 1%;
    padding-left: 1%;
    
  }