
 

<!-- Toolbar -->
<div class="app-header" role="banner">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <span>{{ title }}</span>
  <div class="container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  
  <!-- <script>
  function myFunction(x) {
    x.classList.toggle("change");
  }
  </script> -->
</div>
<div class="content" role="main">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">

    <span>{{ title }}</span>

  </div> -->

  <!-- Resources
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p> -->

   <div class="card-container" routerLinkActive='active' [routerLink]="['/welcome']"></div>
   <div class="row">
     <div class="col-md-2">
    <button class="card btn btn-primary" >
      <!-- <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
        <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/seatmanagement']">Product List</a></li>
      </ul> -->
      <div (click)="clickEvent()" class="title-style">
        <div class="imageClass">
            <p class="title-obj" >{{objects[0].titlename}}</p>
        <img [src]="objects[0].imageUrl" class="imgSize"/>
      </div>
      </div>
    </button>
     </div>
   </div>

    <div class="card-container" routerLinkActive='active' [routerLink]="['/seatmanagement']"></div>
    <button class="card btn btn-primary">
      <div (click)="navigateTo(objects[1])" class="title-style">
        <p class="title-obj">{{objects[1].titlename}}</p>
        <img class="imageClass" [src]="objects[1].imageUrl"/>
        
        <!-- <img [src]="objects[1].imageUrl" class="imgSize"/> -->
      
      </div>
    </button>

    <!-- <div class="card-container"  ></div>
    <button class="card btn btn-primary" (click)="onClick()">
      <span>Seat Management</span>
      
    </button> -->

    <!-- <div class="card-container"  ></div>
    <button class="card btn btn-primary" (click)="onClick()">
      <span>Place Holder #1</span>
      
    </button>

    <div class="card-container"  ></div>
    <button class="card btn btn-primary" (click)="onClick()">
      <span>Place Holder #2</span>
      
    </button> -->

    <!-- <a class="card" target="_blank" rel="noopener" href="">
      <span>Seat Management</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="">
      <span>Place Holder #1</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="">
      <span>Place Holder #2</span>
    </a> -->

    <!-- <button class= "btn btn-primary" (click)="onClick()">Click me!</button> -->

  </div>

  

  <!-- Next Steps -->
  <!-- <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>New Component</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Angular Material</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Add PWA Support</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Add Dependency</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Run and Watch Tests</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Build for Production</span>
    </div>
  </div>

  <!-- Terminal -->
  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> -->

  

<!-- <router-outlet></router-outlet> -->